/*
    Project Name: JavaJam Coffee House (HW26)
    Author: Jana El-Khatib
    Date Last Modified: 7/1/2024
*/

body {
    background-image: url(../images/background.gif);
    background-color: #FCEBB6;
    color: #221811;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 0;
    padding-bottom: 2em;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 0;
    background-color: #FEF6C2;
}

header {
    height: 150px;
    background-image: url(../images/javajamlogo.jpg);
    background-repeat: no-repeat;
}

h1 {
    background-color: #D2B48C;
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
    margin-left: 200px;
    height: 70%;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: #D2B48C;
    font-size: small;
    font-style: italic;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    padding-top: 55px;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    text-transform: uppercase;
    border-bottom: #CC9933;
    padding-bottom: 0;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(42.9% + 42.9vw);
}

#wrapper {
    background-color: #231814;
    min-width: 900px;
    max-width: 1290px;
    box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.1);
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

* {
    box-sizing: border-box;
}

#heroroad {
    background-image: url(../images/heroroad.jpg);
    background-size: 100%;
}

#heromugs {
    background-image: url(../images/heromugs.jpg);
    background-size: 100%;
}

#heroguitar {
    background-image: url(../images/heroguitar.jpg);
    background-size: 100%;
}



#heroroad,
#heromugs,
#heroguitar {
    background-size: cover;
    height: 250px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

h2,
h3,
h4,
p,
div,
ul,
dl {
    padding-left: 3em;
    padding-right: 2em;
}

header,
nav,
main,
footer {
    display: block;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

table {
    width: 90%;
    border-spacing: 0;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #D2B48C;
}


/*Tablet CSS*/
@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    header {
        border-bottom: solid 5px #FEF6C2;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 2.5em;
    }

    nav {
        float: none;
        width: auto;
        padding-top: 0;
        margin: 10px;
        font-size: 1.3em;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 1em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    #heroroad,
    #heromugs,
    #heroguitar {
        padding: 0;
        margin: 0;
    }

    main {
        margin: 0;
        font-size: 90%;
    }
}

/*Smartphone CSS*/
@media only screen and (max-width: 768px) {
    header {
        background-image: url(../images/javajammini.jpg);
        height: 128px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        padding-left: 0;
    }

    nav {
        margin: 0;
    }

    nav a {
        display: block;
        padding: 0.2em;
        width: auto;
        border-bottom: solid 1px #FEF6C2;
    }

    nav li {
        display: block;
    }

    main {
        padding-top: 1px;
    }

    h2 {
        padding-top: 0.5em;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0.5em;
        margin-right: 0.5em;
    }

    .details {
        padding-left: 0;
        padding-right: 0;
    }

    #heroroad,
    #heromugs,
    #heroguitar {
        background-image: none;
        height: auto;
    }

    .floatleft {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}